In [10]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('/users/assel/Downloads/universities.csv')

In [12]:
df.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [33]:
df.groupby('Type').mean().round(2).sort_values(by=['Size'], ascending=[True])
# df.groupby('Type').median()

                                                        Size
Type
4-year, primarily associate's, Private for-profit     934.38
4-year, primarily associate's, Private not-for-...   1129.41
4-year, Private not-for-profit                       2399.89
4-year, Private for-profit                           3504.50
4-year, primarily associate's, Public                6889.37
4-year, Public                                      11478.91

In [38]:
df.head(2)

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0

In [88]:
# City = df.address[1].str.split(',', expand=True)
address = df['address'].str.strip(',')
address
df['address'].str.split(', ', expand =True).head(1)

# df['address'].rename(columns={0:'Street', 1:'City',2:'State'})
# State= df.address[2].str.split(',', expand=True)
# ZipCode=df.address[3].str.split(',', expand=True)
# names = names.rename(columns={0:'last_name', 1:'title_first_name'})

                 0           1               2     3     4     5
0  800 W Jefferson  Kirksville  Missouri 63501  None  None  None

In [93]:
commasplit=df['address'].str.split(',').apply(len)
df['address'].commasplit>3.drop()

SyntaxError: invalid syntax (<ipython-input-93-d39bbbd6e008>, line 2)

In [86]:
df.loc[fruit_prices == fruit_prices.min()]

TypeError: '>' not supported between instances of 'list' and 'int'