In [58]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv('/users/assel/Downloads/universities.csv')

In [60]:
df.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [62]:
df.groupby('Type').mean().round(2).sort_values(by=['Size'], ascending=[True])
# df.groupby('Type').median()

                                                        Size
Type
4-year, primarily associate's, Private for-profit     934.38
4-year, primarily associate's, Private not-for-...   1129.41
4-year, Private not-for-profit                       2399.89
4-year, Private for-profit                           3504.50
4-year, primarily associate's, Public                6889.37
4-year, Public                                      11478.91

In [63]:
# mask=df.address.str.count(',')>2
# problem_rows=df.loc[mask]
mask=df.drop(df[df.address.str.count(',')>2].index)
mask.reset_index(inplace=True)
# mask

In [73]:
# City = df.address[1].str.split(',', expand=True)
# address = df['address'].str.rstrip()
mask['address'].str.split(',', expand =True)
mask[['Street','City','State']] = mask['address'].str.split(',', expand=True)
mask

# df['address'].rename(columns={0:'Street', 1:'City',2:'State'})
# State= df.address[2].str.split(',', expand=True)
# ZipCode=df.address[3].str.split(',', expand=True)
# names = names.rename(columns={0:'last_name', 1:'title_first_name'})

,index,name,address,Website,Type,Size,Street,City,State
0,0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri 63501
1,1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas 79699
2,2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,2802 Moore Hwy,Tifton,Georgia 31793-2601
3,4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida 32601
4,5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,79 New Montgomery,San Francisco,California 94105
...,...,...,...,...,...,...,...,...,...
2716,2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,13315 W. Washington Boulevard,Los Angeles,California 90066
2717,2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,1125 E 8th St,York,Nebraska 68467-2699
2718,2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Country Club Rd,York,Pennsylvania 17403-3651
2719,2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,One University Plaza,Youngstown,Ohio 44555-0001
2720,2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,320 South Main Street,Haverhill,Massachusetts 01835

In [74]:
mask['State'].str.rstrip()
mask['State'].str.split(' ', expand=True)

     0               1           2     3     4
0             Missouri       63501  None  None
1                Texas       79699  None  None
2              Georgia  31793-2601  None  None
3              Florida       32601  None  None
4           California       94105  None  None
...  ..            ...         ...   ...   ...
2716        California       90066  None  None
2717          Nebraska  68467-2699  None  None
2718      Pennsylvania  17403-3651  None  None
2719              Ohio  44555-0001  None  None
2720     Massachusetts       01835  None  None

[2721 rows x 5 columns]