In [58]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [59]:
df = pd.read_csv('/users/assel/Downloads/universities.csv')

In [60]:
df.columns

Index(['name', 'address', 'Website', 'Type', 'Size'], dtype='object')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2907 entries, 0 to 2906
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2907 non-null   object
 1   address  2907 non-null   object
 2   Website  2822 non-null   object
 3   Type     2907 non-null   object
 4   Size     2829 non-null   float64
dtypes: float64(1), object(4)
memory usage: 113.7+ KB

In [62]:
df.groupby('Type').mean().round(2).sort_values(by=['Size'], ascending=[True])
# df.groupby('Type').median()

                                                        Size
Type
4-year, primarily associate's, Private for-profit     934.38
4-year, primarily associate's, Private not-for-...   1129.41
4-year, Private not-for-profit                       2399.89
4-year, Private for-profit                           3504.50
4-year, primarily associate's, Public                6889.37
4-year, Public                                      11478.91

In [63]:
# mask=df.address.str.count(',')>2
# problem_rows=df.loc[mask]
mask=df.drop(df[df.address.str.count(',')>2].index)
mask.reset_index(inplace=True)
# mask

In [64]:
# City = df.address[1].str.split(',', expand=True)
# address = df['address'].str.rstrip()
mask['address'].str.split(',', expand =True)
mask[['Street','City','State']] = mask['address'].str.split(',', expand=True)
mask

# df['address'].rename(columns={0:'Street', 1:'City',2:'State'})
# State= df.address[2].str.split(',', expand=True)
# ZipCode=df.address[3].str.split(',', expand=True)
# names = names.rename(columns={0:'last_name', 1:'title_first_name'})

,index,name,address,Website,Type,Size,Street,City,State
0,0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0,800 W Jefferson,Kirksville,Missouri 63501
1,1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0,1600 Campus Court,Abilene,Texas 79699
2,2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0,2802 Moore Hwy,Tifton,Georgia 31793-2601
3,4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0,305 SE 2nd Ave,Gainesville,Florida 32601
4,5,Academy of Art University,"79 New Montgomery, San Francisco, California 9...",www.academyart.edu,"4-year, Private for-profit",13181.0,79 New Montgomery,San Francisco,California 94105
...,...,...,...,...,...,...,...,...,...
2716,2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0,13315 W. Washington Boulevard,Los Angeles,California 90066
2717,2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0,1125 E 8th St,York,Nebraska 68467-2699
2718,2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0,Country Club Rd,York,Pennsylvania 17403-3651
2719,2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0,One University Plaza,Youngstown,Ohio 44555-0001
2720,2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0,320 South Main Street,Haverhill,Massachusetts 01835

In [70]:
mask['State'].str.rstrip()
mask['State'].str.split(' ', expand=True).tail(50)

         0              1           2           3     4
2671             Delaware       19720        None  None
2672         Pennsylvania  17201-1285        None  None
2673                 Ohio       45840        None  None
2674                North    Carolina  28174-0157  None
2675            Minnesota  55987-5838        None  None
2676                North    Carolina  27110-0001  None
2677                South    Carolina       29733  None
2678            Wisconsin  53226-4699        None  None
2679            Wisconsin  53225-4960        None  None
2680                 Ohio       45504        None  None
2681                South    Carolina  29303-3663  None
2682         Pennsylvania  19038-4535        None  None
2683              Vermont       05602        None  None
2684           California  91510-7846        None  None
2685        Massachusetts  01609-2280        None  None
2686        Massachusetts  01602-2597        None  None
2687               Hawaii       96821        None  None
2688           California       90020        None  None
2689                 Ohio  45435-0001        None  None
2690                 Ohio  45207-1092        None  None
2691            Louisiana  70125-1098        None  None
2692  None           None        None        None  None
2693          Connecticut       06510        None  None
2694                  New        York       11230  None
2695             Maryland       20902        None  None
2696                  New        York  11218-4413  None
2697                  New        York       10952  None
2698                  New        York       11219  None
2699             Michigan       48237        None  None
2700                  New        York  11204-1545  None
2701                  New        York       10549  None
2702                  New        York       10471  None
2703           California       90046        None  None
2704                  New        York       11418  None
2705                  New        York       10901  None
2706                  New      Jersey       08701  None
2707             Colorado       80204        None  None
2708                  New        York  10033-3299  None
2709              Florida       33139        None  None
2710                  New      Jersey       07208  None
2711                  New        York       11204  None
2712                  New        York  11230-9963  None
2713         Pennsylvania       18505        None  None
2714                  New        York       10952  None
2715  None           None        None        None  None
2716           California       90066        None  None
2717             Nebraska  68467-2699        None  None
2718         Pennsylvania  17403-3651        None  None
2719                 Ohio  44555-0001        None  None
2720        Massachusetts       01835        None  None

In [66]:
# df['address'].str.split(',')
# df['address'].commasplit>3

In [67]:
# df.loc[fruit_prices == fruit_prices.min()]

In [68]:
df.index

RangeIndex(start=0, stop=2907, step=1)

In [69]:
df

,name,address,Website,Type,Size
0,A T Still University of Health Sciences,"800 W Jefferson, Kirksville, Missouri 63501",WWW.ATSU.EDU,"4-year, Private not-for-profit",3480.0
1,Abilene Christian University,"1600 Campus Court, Abilene, Texas 79699",www.acu.edu,"4-year, Private not-for-profit",4669.0
2,Abraham Baldwin Agricultural College,"2802 Moore Hwy, Tifton, Georgia 31793-2601",www.abac.edu,"4-year, primarily associate's, Public",3600.0
3,Academy College,"1101 E. 78th Street, Suite 100, Minneapolis, M...",www.academycollege.edu,"4-year, primarily associate's, Private for-profit",165.0
4,Academy for Five Element Acupuncture,"305 SE 2nd Ave, Gainesville, Florida 32601",www.acupuncturist.edu,"4-year, Private not-for-profit",51.0
...,...,...,...,...,...
2902,Yo San University of Traditional Chinese Medicine,"13315 W. Washington Boulevard, Los Angeles, Ca...",www.yosan.edu,"4-year, Private not-for-profit",139.0
2903,York College,"1125 E 8th St, York, Nebraska 68467-2699",www.york.edu/,"4-year, Private not-for-profit",396.0
2904,York College Pennsylvania,"Country Club Rd, York, Pennsylvania 17403-3651",www.ycp.edu,"4-year, Private not-for-profit",5627.0
2905,Youngstown State University,"One University Plaza, Youngstown, Ohio 44555-0001",www.ysu.edu,"4-year, Public",13704.0
2906,Zion Bible College,"320 South Main Street, Haverhill, Massachusett...",www.zbc.edu,"4-year, Private not-for-profit",247.0